# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# generated directory
**/generated

# output directory
/out

# msbuild output directories
/bin/
/obj/
/Solution
/Codebug.PaypalTokenGenerator/.vs/Codebug.PaypalTokenGenerator/v16
/Codebug.PaypalTokenGenerator/*/bin/
/Codebug.PaypalTokenGenerator/*/obj/
/Codebug.PaypalTokenGenerator/*/packages/
/Codebug.PaypalTokenGenerator/packages
